@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto+Slab&display=swap');

body {
    margin: 0;
}

.leaflet-container {
    margin: 0 auto;
    width: 90%;
    padding-top: 55%;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
}

html {
    overflow-y:scroll;
}